.form__footer {
    font-style: italic;
    font-weight: 100;
    font-size: small;
    padding-top: 30px;
    padding-bottom: 0px;
}

.form__legend {
    border: 2px dotted crimson;
    padding: 10px;
    border-radius: 15px;
    font-weight: 900;
    background-color: hsl(0, 79%, 87%);
}

.form__labelText {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
    padding: 5px;
    color: rgb(42, 106, 106);
    font-size: 19px;
}

.form__button {
    margin-left: 11px;
    width: 60%;
    max-width: 250px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: hsl(182, 25%, 45%);
}

.form__button:hover {
    background-color: hsl(182, 25%, 55%);
}

.form__button--special {
    margin-left: 11px;
    margin-top: 7px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: hsl(271, 76%, 79%);
}

.form__button--special:hover {
    background-color: hsl(271, 76%, 65%);
}

.form__fieldset {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: blueviolet;
    padding: 40px 20px;
}
