.form {
    background-color: #ccc;
    padding: 10px 20px 20px 20px;
}

.form__label {
    margin: 0px auto;
}

.form__field {
    padding: 13px;
    border: 3px solid;
    color: darkcyan;
    border-radius: 50px;
    width: 200px;
    margin: 20px 0;
}

.form__field:focus {
    color: blueviolet;
}

.form__paragraph--anazer {
    text-align: center;
    color: rgb(1, 185, 124);
    font-size: 45px;

}

.form__footer {
    font-style: italic;
    font-weight: 100;
    font-size: small;
    padding-top: 30px;
    padding-bottom: 0px;
}

.form__legend {
    border: 2px dotted crimson;
    padding: 10px;
    border-radius: 15px;
    font-weight: 900;
    background-color: hsl(0, 79%, 87%);
}

.form__labelText {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
    padding: 5px;
    color: rgb(42, 106, 106);
    font-size: 19px;
}

.form__button {
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: hsl(182, 25%, 45%);
}

.form__button:hover {
    background-color: hsl(182, 25%, 55%);
}

.form__button--special {
    cursor: pointer;
    margin-top: 7px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: hsl(271, 76%, 79%);
}

.form__button--special:hover {
    background-color: hsl(271, 76%, 65%);
}

.form__fieldset {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: blueviolet;
    padding: 40px 20px;
}

.form__strong {
    padding-left: 13px;
    font-size: 30px;
}